.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
}
.left {
    flex: 1;
    background-color: var(--secondary-color);
}
.left:hover {
    flex: 2;
}
.right {
    flex: 6;
    background-color: var(--primary-color);
}
@media (max-width: 400px) {
    .columns {
        flex-direction: column;
    }
}